/* bookDetails.css */

/* General Styles */


.containerTheme {
  background-color: #feb55a;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Book Details Section */
  
  #detialsPage {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .bookTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .bookAuthor {
    font-size: 18px;
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
  }
  
  .bookDescription {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .bookImage {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  /* Rating Section */
  
  .rating {
    font-size: 18px;
    color: #007BFF;
    margin-bottom: 10px;
  }
  
  .star-rating {
    display: inline-block;
    font-size: 24px;
    color: #FFD700;
  }
  
  /* Back to Home Button */
  
  .back-to-home {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-to-home:hover {
    background-color: #007BFF;
    color: #fff;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 767px) {
    .container {
      padding: 10px;
    }
    #detialsPage {
      padding: 15px;
    }
    .bookTitle {
      font-size: 20px;
    }
    .bookAuthor {
      font-size: 16px;
    }
    .bookDescription {
      font-size: 14px;
    }
    .bookImage {
      max-width: 90%;
    }
  }
  